{% extends 'home.html' %}

{% load static %}  <!-- add this line to load the static tag -->

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-white mb-4">Movies in {{ genre|title }} Genre</h1>
            {% if movies %}
            <div class="row">
                {% for movie in movies %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if movie.poster_path %}
                        <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="card-img-top" alt="{{ movie.title }}">
                        {% else %}
                        <img src="{% static 'img/no-poster.png' %}" class="card-img-top" alt="{{ movie.title }}">
                        {% endif %}
                        <div class="card-body d-flex flex-column " style="height:25%; background-color: black">
                            <h5 class="card-title text-white ">{{ movie.title }}</h5>
                            <p class="card-text text-white flex-grow-1">{{ movie.overview }}</p>
                            <a href="{% url 'movie_details' movie.id %}" class="btn btn-primary mt-auto">View Details</a>
                        </div>
                        
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <p class="text-white">No movies found for this genre.</p>
            {% endif %}
        </div>
    </div>
</div>
<style>
    .card {
      height:100%;
      
    }
  </style>
{% endblock %}